<!DOCTYPE html>
<html>
<head>
    <title>Masks Detector Web Application</title>
    <meta charset="utf-8">
	<meta name="author" content="AnikeSadia">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/style.css">


</head>
<body>
<div class="upload_content">

   

       <div class="error_content">

         <h1 id="error-h1"> NO FACE DETECTED, TRY AGAIN !!!</h1>

</div>

</div>
